{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Profile</title>
    <style>
      body{
        background-image:url('{% static "backgroud.webp" %}');
        background-repeat : no-repeat;
        background-size:100% 100%;
        height:100vh;
        width:100%;
      }
      .mainlink{
        
        text- name="last_name"decoration:none;
        color:white;
        display:border-box;
        border:1px solid black;
        border-radius:25px;
        padding: 20px 60px;
        margin:0px 15px;
        font-size:1.2rem;
      }
      .mainlink:hover{
        text-decoration:none;
        background:white;
        color:black;
      }
      .submitbtn{
          background-color:black;
      }
    
    </style>
  </head>
  <body style="background-img:url('{% static "backgroud.webp" %}');">
    
   <div class="container-fluid divpr">
    <div class="row">
      <div class="col-lg-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent font-weight-bold text-white " style="color:white;">
          <a class="navbar-brand" href="#" style="color:white;">DASHBOARD</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto text-white" style="color:white;">
            <li class="nav-item active">
                <p class="nav-link" style="color:white;">{{ name }}</p>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'profile' %}" style="color:white;">Home <span class="sr-only">(current)</span></a>
              </li>
              
              <li class="nav-item active">
                <a class="nav-link" href="https://leverageedu.com/blog/importance-of-books-in-our-life/" style="color:white;">About Us<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'contactus' %}" style="color:white;">Contact Us<span class="sr-only">(current)</span></a>
              </li>
               <li class="nav-item active">
                <a class="nav-link" href="{% url 'logout' %}" style="color:white;">logout<span class="sr-only">(current)</span></a>
              </li>
              
            </ul>
          </div>
        </nav>
        </div>
        </div>
        <div class="row justify-content-center py-6" style="margin-top:8%!important; width:100%;">
       
        <div class="wrapper">
            <div class="contained"> What is the importance of books in our life? Books play a quintessential role in every student’s life by introducing them to a world of imagination, providing knowledge of the outside world, improving their reading, writing and speaking skills as well as boosting memory and intelligence. The importance of books in our life cannot be undermined for they not only help in broadening our horizons but also act as doorways of connecting us with the world around us. They function as survival kits, they influence us and leave an impact on us. Want to know the benefits of books and the importance of reading? Curious about how books impact our lives? Read this blog to know all about the importance of books in a student’s life, essays on importance of reading books, quotes and more! 
                What are the advantages of books? Here are top 20 benefits on the importance of books in our life:

Books are our best friends.
Books illuminate your imagination.
Books help you form your own unique perspective of the world around you.
Books build confidence.
Books help you grow mentally and emotionally.
Books enhance your vocabulary.
Books help you learn new languages.
Books inculcate analytical skills in you.
Books are therapeutic and offer wonderful recluse.
Books impart you with crucial life lessons.
Books sharpen your ingenuity.
Books make students intelligent.
Books improve memory.
Books relieve the stress of students.
Books improve your writing skills.
Books introduce us to things and perspectives.
Books help in self-improvement.
Reading books improve your communication skills.
Books record history and spread awareness.
Reading is an excellent hobby.

<h3>List Life Lessons to Learn from Books</h3>

The importance of books in our lives is not limited to the knowledge it provides us. Books also bring change in our personality, develops us into our better sleeves and gives us lessons to cherish lifelong. Here are some of then: 

1.Self-confidence 
2.Better understanding of yourself 
3.Emotionally strong and expressive 
4.Mental visualization
5.Sense of identity
6.Keeping a wild imagination
7.Always staying curious.

Importance of Books in Our Life Essay:

When they say that books are our true best friends, it is absolutely true. Not only are books our companions but they are also our safe haven. Books never expect anything in return from us. Whenever we are tired or bored or stressed, picking up a book and reading helps us to go in another world – a world free of worries and everyday tension. At the same time, books enrich us and provide us with unimaginable knowledge. 
There are many times in life when we feel tired and defeated or just feel like spending some quality time with ourselves – nothing better than sitting in a corner with a hot cup of tea and a nice book! The importance of books in our life is multi-fold. Printed or online, a book is a treasure chest of information and plays an important role in boosting our imagination. 

It is a reality that when it comes to students, books also play the role of teachers. If we come in the habit of reading books from an early age, we will be able to do anything in life. For students and people who struggle with problems in language or want to improve their vocabulary, nothing but a book can help you overcome it. A book may be in any language, it is rich in good vocabulary and therefore helps in improving self-confidence and self-love. One can keep going on about the importance of books in our life since it is unlimited. Grab a book today and start reading! 


Essay on Importance of Reading:

Just like there is unimaginable importance of books in our life, the habit of reading has a quintessential role to play. It is a significant habit to inculcate in order to facilitate complete and all-round growth of children. If children get in the habit of picking up a book from an early age, they will never feel bored or listless and more importantly, never have time for any kind of negative emotion. Books can easily become everyone’s best friend and also be our teacher. 

Looking for the best quotes on the importance of books in our life? Here are the best quotes on importance of reading books:

“Any book that helps a child to form a habit of reading, to make reading one of his needs, is good for him.” —Maya Angelou
“Whenever you read a good book, somewhere in the world a door opens to allow in more light.”– Vera Nazarian
“Literacy is a bridge from misery to hope.“ —Kofi Annan
“To learn to read is to light a fire; every syllable that is spelled out is a spark.“ —Victor Hugo
“We read to know we are not alone.” —C.S. Lewis
“Books are lighthouses erected in the great sea of time. —E.P. Whipple
“A parent or a teacher has only his lifetime; a good book can teach forever.” —Louis L’Amour
“A person who won’t read has no advantage over one who can’t read.” —Mark Twain
“Let us read and let us dance—two amusements that will never do any harm to the world.” —Voltaire
“Wear the old coat and buy the new book.” —Austin Phelps
“It is not true that we have only one life to live; if we can read, we can live as many more lives and as many kinds of lives as we wish.” —S.I. Hayakawa
“There is more treasure in books than in all the pirate’s loot on Treasure Island.” – Walt Disney
“There are perhaps no days of our childhood we lived so fully as those we spent with a favorite book.” – Marcel Proust
“Today a reader, tomorrow a leader.” – Margaret Fuller


            </div>
            <div class="contained"><img src="{% static "about photo.jpg" %}"</div>
            <div class="contained"></div>
    
        
        <div>
    


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>


</html>